

h2{
    background-color: #C4C4C4;
    color: #005677;
    margin-bottom: 20px;
    font-size: 20px;
}
.logo{
    display: block;
    margin: 0px auto;
}
span{
    font-weight: bold;
}

h1{
    background-color: #C4C4C4;
    color: #005677;
    text-align: center;
    margin-bottom: 100px;
    font-size: 35px;
}
.margen{
    margin-bottom: 60px;
}
.cursiva{
    font-style: italic;

}
footer{
    background-color: #005677;
    text-align: center;
    color: white;
    padding-bottom: 0px;
}
