

h2{
    background-color: #C4C4C4;
    letter-spacing: 5px;
    color: #005677;
    margin-bottom: 20px;
    font-size: 20px;
}
.logo{
    display: block;
    margin: 0px auto;
    width: 200px;
}
span{
    font-weight: bold;
}

h1{
    letter-spacing: 5px;
    background-color: #C4C4C4;
    color: #005677;
    text-align: center;
    font-size: 35px;
    margin-top: 1px;
}
.margen{
    margin-bottom: 60px;
}
.cursiva{
    font-style: italic;

}
footer{
    position: absolute;
    width: 1440px;
    height: 37px;
    left: 0px;
    top: 987px;
    background: #005677;
    color: white;
    text-align: center;
    margin: auto;

}
.menu{
    margin-bottom: 200px;

}
li{
    list-style: none;
    
}
body{
    font-family: 'Courier New', Courier, monospace;
}
.foot{
    width: 30px;
}